@use "./colors" as *;

.projects-section {
	background: radial-gradient(at bottom left, #be266049, transparent 50%);
	background-color: $main-color;
	overflow: hidden;

	a {
		text-decoration: none;
		color: $secondary-color;
	}

	&__title {
		padding: 2rem 0;
		margin-top: 5rem;
		color: $secondary-color;
		text-align: center;
		font-size: 1.8rem;
		text-transform: uppercase;
	}

	&__container {
		margin-top: 3rem;
		.cards {
			width: 80%;
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: $secondary-color;

			&__title {
				width: 100%;
				margin-bottom: 2rem;
				text-transform: uppercase;
				text-align: center;
				color: $secondary-color;
				font-size: 1.4rem;
				letter-spacing: 4px;
			}
			.card {
				position: relative;
				display: flex;
				align-items: center;
				background-position: center;
				background-size: 165%;
				background-repeat: no-repeat;
				height: 10rem;
				width: 17rem;
				border-radius: 8px;
				z-index: 0;
				transition: background-size 0.5s;

				&__shadow {
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 8px;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.2);
					z-index: -5;
				}

				&--one {
					background-image: url("../img/pizza.png");
				}
				&--two {
					background-image: url("../img/goral.png");
				}

				&:hover {
					background-size: 200%;
				}
			}
			.about-project {
				width: 80%;
				margin: 1.5rem 1rem;
				line-height: 1.7rem;
				text-align: center;
			}

			.list-title {
				margin: 1rem;
				margin-bottom: 10px;
				width: 100%;
				background: linear-gradient(60deg, #be2660, #d69509);
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 2px;
				font-weight: bold;
				font-size: 1.2rem;
				color: $secondary-color;
			}
			.list {
				list-style: none;
				text-align: center;

				font-size: 1rem;
				&__item {
					padding: 1rem;
				}
			}
		}

		.links {
			padding-bottom: 2rem;
			i {
				margin: 0 1rem;
				font-size: 2.5rem;
			}
		}

		.vertical-line {
			margin: 3rem 0;
			height: 10rem;
			width: 2px;
			background-color: $secondary-color;
		}
	}
}

@media (min-width: 768px) {
	.projects-section {
		&__title {
			margin-top: 9rem;
			font-size: 2.4rem;
		}

		&__container {
			.cards {
				&__title {
					font-size: 1.8rem;
				}

				.card {
					height: 16rem;
					width: 27rem;
				}

				.about-project {
					width: 60%;
					margin: 2rem;
				}

				.list-title {
					font-size: 1.4rem;
				}

				.list {
					font-size: 1.2rem;

					&__item {
						padding: 1.4rem;
					}
				}

				.links {
					padding-top: 2.5rem;
					i {
						font-size: 2.4rem;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.projects-section {
		&__title {
			font-size: 2.6rem;
		}

		&__container {
			.cards {
				&__title {
					margin-top: 2rem;
					font-size: 2rem;
				}

				.card {
					height: 20rem;
					width: 31rem;
					background-size: 180%;
				}

				.about-project {
					width: 40%;
					margin: 3rem;
					font-size: 1.2rem;
					line-height: 2rem;
				}

				.list-title {
					font-size: 1.6rem;
				}

				.list {
					font-size: 1.4rem;

					&__item {
						padding: 1.6rem;
					}
				}

				.links {
					padding-bottom: 4rem;
					i {
						font-size: 2.6rem;
					}
				}
			}
		}
	}
}
