@use "./colors" as *;
.tech-section {
	background: radial-gradient(at top right, #be266049, transparent 50%);
	background-color: $main-color;
    overflow: hidden;

	.line {
		height: 2px;
		background-color: #fff;
		width: 90%;
		margin: auto;
	}

	&__title {
		padding: 1rem 0;
		margin-top: 5rem;
		margin-bottom: 2rem;
		color: #fff;
		text-align: center;
		font-size: 1.8rem;
		text-transform: uppercase;
	}

	&__container {
        height: 100%;
		display: flex;
		flex-direction: column;
		.tech-list {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 1rem;
            margin: 0 1rem;
			color: #fff;
            text-align: center;
			list-style: none;

			&__item {
				text-transform: uppercase;
				margin: 0.5rem 1rem;
				font-size: 1.1rem;
			}
		}

		.images {
			display: flex;
			align-items: center;
				justify-content: center;
			width: 100%;
            margin-top: 2rem;
            padding: 1rem;
			// height: 100%;

			svg {
				margin: 1.5rem 1rem;
				height: 4rem;
				width: 4rem;
				background-image: url("./react-2.svg");
			}
		}
	}
}

@media (min-width: 768px) {
	.tech-section {
		&__title {
			margin-top: 9rem;
			font-size: 2.4rem;
		}

		&__container {
			.tech-list {
				&__item {
					font-size: 1.5rem;
					
				}
			}

			.images {
				margin-top: 4rem;

				svg {
					margin: 2rem;
					height: 5.5rem;
					width: 5.5rem;
				}
			}

		}
	}
}
